.DS_Store
.idea
*.log
tmp/
*.eld

custom.el
elpa/*
transient/*
eln-cache/*
history

org-roam.db

config.el
projects
recentf
savehist
straight
url
var
games
*.cache
tree-sitter
auto-save-list
etc
quelpa
