.DS_Store
.idea
*.log
tmp/

custom.el
elpa/*
transient/*
eln-cache/*
history

org-roam.db

config.el
projects
recentf
savehist
straight
url
var
games
projectile-bookmarks.eld
*.cache
tree-sitter
auto-save-list